# Reading and Writing Data
#### These are just some examples of Python code for Data Engineering. There are many more techniques and libraries that can be used depending on the specific data engineering task at hand.
Reading from CSV file

In [ ]:
import pandas as pd

df = pd.read_csv('input_data.csv')

Writing to CSV file

In [ ]:
df.to_csv('output_data.csv', index=False)

# Data Cleaning
Removing Duplicate Rows

In [ ]:
df = df.drop_duplicates()

Renaming Columns

In [ ]:
df = df.rename(columns={'old_column_name': 'new_column_name'})

Filling Missing Values

In [ ]:
df = df.fillna(0)

# Data Transformation
Applying a Function to a Column

In [ ]:
def square(x):
    return x**2

df['new_column'] = df['old_column'].apply(square)

Filtering Rows Based on a Condition

In [ ]:
df = df[df['column_name'] > 10]

Grouping Data and Aggregating

In [ ]:
df_grouped = df.groupby(['column_name']).agg({'other_column': 'sum', 'another_column': 'mean'})

# Data Integration
Merging DataFrames

In [ ]:
df_merged = pd.merge(df1, df2, on='column_name')

Concatenating DataFrames

In [ ]:
df_concatenated = pd.concat([df1, df2])

# Working with Databases
Connecting to a Database

In [ ]:
import psycopg2

conn = psycopg2.connect(
    host="localhost",
    database="my_database",
    user="my_username",
    password="my_password"
)

Querying Data from a Database

In [ ]:
cursor = conn.cursor()
cursor.execute("SELECT * FROM my_table;")
rows = cursor.fetchall()

Writing Data to a Database

In [ ]:
for row in df.itertuples():
    cursor.execute("INSERT INTO my_table (column1, column2, column3) VALUES (%s, %s, %s);", (row.column1, row.column2, row.column3))
conn.commit()